In [ ]:
## Voici nos requetes

In [1]:
%reload_ext sql
%sql postgresql://user_tp:ue_bd_ihm_db@localhost/ue_bd_ihm_db

'Connected: user_tp@ue_bd_ihm_db'

In [3]:
%%sql
create schema g20marti

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
(psycopg2.errors.DuplicateSchema) schema "g20marti" already exists

[SQL: create schema g20marti]
(Background on this error at: http://sqlalche.me/e/f405)

In [12]:
%%sql
--Requete affichant la liste des salons dans l ordre dans un serveur donné

select c.nom, c.typecanal from g20marti.Channel c join g20marti.Serveur s on s.id=c.id_serveur where s.id=1 order by c.id;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
5 rows affected.

[('Admin', 'Vocal'),
 ('Informations ', 'Textuel'),
 ('Informations  ', 'Vocal'),
 ('Questions ', 'Vocal'),
 ('Questions ', 'Textuel')]

In [17]:
%%sql

--Personne qui dans le serveur IMT ont accès au Channel vocal 1 pour les admins

select u.id,u.pseudo from g20marti.Membre u join g20marti.Role r on r.id=u.id_role
join g20marti.Autorisation a on r.id=a.ref_role
join g20marti.Channel c on c.id=a.ref_channel
where c.id=1;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[(1, 'PFriedel'), (2, 'Abeauval')]

In [30]:
%%sql
--Pour un utilisateur donné dans le serveur IMT, la liste des utilisateurs qui ne sont pas encore amis mais qui ont un serveur en commun

select u.id,u.pseudo from 
(select distinct u.id,u.pseudo,m.id as repere from g20marti.Membre m join g20marti.Serveur s on s.id=m.id_serveur
join g20marti.Membre u on s.id=u.id_serveur where m.id=1) as u where u.id
not in (select a.ref_ami_2 from g20marti.Membre m join g20marti.Ami a on a.ref_ami_1=m.id where m.id=1) and u.id not in (1)

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
1 rows affected.

[(3, 'Gmartin')]

In [35]:
%%sql
--Pour un serveur donné, Serveur Personnel , le nombre de messages publiés par jour 

select m.date_envoi, count(m.id)
from g20marti.Message m join g20marti.Channel c on c.id=m.id_channel
join g20marti.Serveur s on s.id=c.id_serveur
where s.id=2 group by m.date_envoi;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[(datetime.date(2021, 5, 17), 3), (datetime.date(2021, 5, 18), 3)]

In [49]:
%%sql

-- Pour un serveur donné (serveur IMT), Les membres qui n ont envoyé aucun message 

select* from g20marti.Membre  where Membre.id not in 
(select u.id from g20marti.Membre u join g20marti.Message m on u.id=m.id_membre
join g20marti.Channel c on c.id=m.id_channel
join g20marti.Serveur s on s.id=c.id_serveur
where s.id=1 group by u.id having count(m.id)>0)
and Membre.id in (select u.id from g20marti.Membre u join g20marti.Serveur s on s.id=u.id_serveur where s.id=1);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
1 rows affected.

[(4, 'Sylvie Kerouedan', 'SKerouedan', 'sylvie.kerouedan@imt-atlantique.net', 40, 'Voile', 3, 1)]

In [52]:
%%sql

-- Par serveur, par utilisateur, le nombres de messages envoyés sur le serveur

select u.id_serveur,u.id,u.pseudo, count(m.id) from g20marti.Message m join g20marti.Membre u on u.id=m.id_membre
join g20marti.Channel c on c.id=m.id_channel
join g20marti.Serveur s on s.id=c.id_serveur
group by s.id,u.id having count(m.id)>=2;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
3 rows affected.

[(1, 1, 'PFriedel', 4), (1, 3, 'Gmartin', 3), (2, 5, 'Gmartin', 4)]

In [146]:
%%sql
-- Une discussion ayant eu lieu sur le canal textuel 2

select distinct m.contenu,u.pseudo,m.date_envoi,e.nom as nom_emoji,count(e.id) as nombre_occurence_emoji,ref.contenu as message_de_reference
from g20marti.Message m join g20marti.Membre u on u.id=m.id_membre
left join g20marti.Message ref on ref.id=m.id_message_ref
left join g20marti.Emoji e on e.id_message_ref=m.id
where m.id_channel=2
group by m.contenu,u.pseudo,m.date_envoi,e.nom, ref.contenu;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[('Bonjour, Bienvenue', 'PFriedel', datetime.date(2020, 9, 2), 'Sourire', 1, None),
 ('Bonjour Monsieur', 'Gmartin', datetime.date(2020, 9, 2), None, 0, 'Bonjour, Bienvenue')]

In [132]:
%%sql 
-- Pour un serveur donné, la liste des membres ayant publié au moins un  message sur l ensemble des serveurs textuels

select distinct m.pseudo from
(select distinct s.id as id_serveur,c.id as channel,u.id,u.pseudo from g20marti.Membre u join g20marti.Message m on u.id=m.id_membre
join g20marti.Channel c on c.id=m.id_channel
join g20marti.Serveur s on s.id=c.id_serveur 
where s.id=1 and c.typeCanal='Textuel' group by s.id,u.id,c.id having count(m.id)>0) as m 
join (select s.id,count(c.id) as compteur from g20marti.Serveur s join g20marti.Channel c on s.id=c.id_serveur where s.id=1 and c.TypeCanal='Textuel' group by s.id) as repere
on m.id_serveur=repere.id
group by m.pseudo,repere.compteur
having repere.compteur=count(m.id)
;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[('Gmartin',), ('PFriedel',)]

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
3 rows affected.

[('Sourire',), ('Pouce Haut',), ('Pouce Haut',)]

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[(6, 'FDeromance'), (7, 'Gmorilhat')]